section.section#download
    .container.center-align
      h4 Загрузите
    .container.center-align
      .row
        .col.s12
          table.responsive-table
            tr
              td
                b Платформа
              td
                b Источник
              td
                b Ссылка
            
            //- Web
            tr
              td Web
              td Firebase
              td
                a(href="https://maxqwars-sayan-app.web.app") Перейти

            //- Android
            tr
              td Android
              td N/D
              td В разработке
            tr
            //-   td Android
            //-   td FDroid
            //-   td
            //-     a(href="https://maxqwar-sayan-app.web.app") Ссылка

            //- Linux
            tr
              td GNU/Linux
              td N/D
              td В разработке
            //- tr
            //-   td GNU/Linux
            //-   td Snap
            //-   td
            //-     a(href="https://maxqwar-sayan-app.web.app") Ссылка
            //- tr
            //-   td GNU/Linux
            //-   td Flatpak
            //-   td
            //-     a(href="https://maxqwar-sayan-app.web.app") Загрузка

            //- Windows
            tr
              td Windows 10
              td N/D
              td В разработке
            //- tr
            //-   td Windows 10
            //-   td Archive
            //-   td
            //-     a(href="https://maxqwar-sayan-app.web.app") Загрузка

            //- OSX
            tr
              td macOS / iOS / iPadOS
              td N/D
              td Не поддерживается