.section#features
    .container
        .row
            .center-align
                h4 Особенности
                .divider
        .row

            .col.s12.m4
                .icon-block
                    h2.center.light-blue-text.accent-4-text
                        i.material-icons(style="font-size: 64px") code
                    h5.center Открытый
                    p.light.center-align
                        | Исходный код Саян(а) распространяется в соответствии с публичной лицензией GNU.
                        | Эта лицензия дает вам право исследовать, модифицировать и распространять исходный код Саян(а) или ваших модификаций, 
                        | при условии соблюдения лицензии GNU.

            .col.s12.m4
                .icon-block
                    h2.center.light-blue-text.accent-4-text
                        i.material-icons(style="font-size: 64px") accessibility
                    h5.center Масштабируемый
                    p.light.center-align
                        | Саян использует веб технологии, чтобы обеспечить высокую переносимость основных функций, а так же набор расширений для более тесной интеграции с системой или реализации дополнительной функциональности.

            .col.s12.m4
                .icon-block
                    h2.center.light-blue-text.accent-4-text
                        i.material-icons(style="font-size: 64px") flare
                    h5.center Современный
                    p.light.center-align
                        | Саян написан на TypeScript, с использованием ReactJS и применением компонентов Ionic Framework. Саян использует возможности современных браузеров, чтобы предоставить лучший опыт использования веб приложений.
