footer.page-footer.grey.lighten-5.black-text
  //- main content
  .container
    .row
      //- summary
      .col.s12.m6
        h5 О Саяне
        p.light
          | Саян приложение с открытым исходным кодом, для работы с API Анилибрии (или иным совместимым с ним).
          | Позволяет просматривать информацию о релизе, искать релизы в базе данных и просматривать прикрепленный к релизу контент (видео плеер, торрент).

      //- contacts
      .col.s12.m6
        h5 Контакты
        ul
          li
            | Email поддежки: 
            a(href="") maxqwars@gmail.com
        .row
          .col.s2
            a(href="https://github.com/maxqwars/sayan")
              img(src="images/github-brands.svg" alt="").footer-link-icon
          .col.s2
            a(href="https://telegram.org")
              img(src="images/telegram-plane-brands.svg" alt="").footer-link-icon
          .col.s2
            a(href="https://vk.com/sayanapp")
              img(src="images/vk-brands.svg" alt="").footer-link-icon
          .col.s2
            a(href="https://discord.com")
              img(src="images/discord-brands.svg" alt="").footer-link-icon
    
    .row.center-align
      p.grey-text#notice
        | (Саян находится в стадии активной разработки, не все указанные функции могут быть доступны.)


  //- copyright
  .footer-copyright.black-text.grey.lighten-2
    .container.center-align
      | Сделано на 
      a(href="https://materializecss.com/") MaterializeCSS
