nav.z-depth-0
  .nav-wrapper.white
    .container
      a(href="").brand-logo.black-text
        | Sayan

      a(href="" data-target="mobile-nav").sidenav-trigger.black-text
        i.material-icons menu 

      ul#mobile-demo.right.hide-on-med-and-down
        li
          a(href="#spotlight").black-text Что такое Sayan?
        li
          a(href="#features").black-text Особенности
        li
          a(href="#download").black-text Загрузка
        //- li
          //- a(href="/faq.html").black-text F.A.Q

ul#mobile-nav.sidenav
  li
    a(href="#spotlight").black-text Что такое Sayan?
  li
    a(href="#features").black-text Особенности
  li
    a(href="#download").black-text Загрузка
  //- li
    //- a(href="/faq.html").black-text F.A.Q
