.parallax-container
  .section(style="height: 100%;").valign-wrapper
    .container
      .row
        .col.s12.m6.offset-m3.center-align.back-text
          h2 Sayan
          p Открытое приложение для работы с REST API Анилибрии
  .parallax
    img(src="images/parallax-image.jpg", alt="")
