.section#spotlight
  .container
    .row
      .col.s12.m6
        br
        img(src="images/book.png").responsive-img

      .col.s12.m6
        h2
          | Что такое Sayan?
        .divider
        p.light
          | Саян приложение с открытым исходным кодом, для работы с API Анилибрии (или иным совместимым с ним).
          | Позволяет просматривать информацию о релизе, искать релизы в базе данных и просматривать прикрепленный к релизу контент (видео плеер, торрент).
          | Саян доступен как веб приложение и как нативное приложение для вашей операционной системы.

      

